{% extends 'accounts/basedashboard.html'%}


{% block container%}


<!-- Menu Lateral -->
    <section class="container">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <span class="hi_user">Olá, <strong>{{user}}</strong></span>
        <div class="div_menu">
          <a href="{% url 'accounts:index' %}">
            <div class="menu_lateral ativo">
             Início
            </div>
          </a>
          <a href="{% url 'accounts:alterardados' %}">
            <div class="menu_lateral">
              Conta
            </div>
          </a>
          <a href="{%url 'checkout:order_list'%}">
            <div class="menu_lateral">
              Pedidos
            </div>
          </a>
          
          <a href="{%url 'accounts:UpdatePassword'%}">
            <div class="menu_lateral">
              Alterar Senha
            </div>
          </a>
          <a href="{% url 'logout' %}">
            <div class="menu_lateral">
             Sair
            </div>
          </a>
        </div>
      </div>
        {% block accounts_container %}
<div class="menu_box_mgt col-lg-9 col-md-9 col-sm-9">
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <a href="{% url 'util:index' %}">
            <div class="menu_box"><i class="icon_hover icon-home"></i><br>Início</div>
          </a>
        </span>
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <a href="{%url 'checkout:order_list'%}">
            <div class="menu_box"><i class="icon_hover icon-bag"></i><br>Meu Pedidos</div>
          </a>
        </span>
       
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <a href="{% url 'accounts:alterardados' %}">
            <div class="menu_box"><i class="icon_hover icon-user-circle-o"></i><br>Informações da Conta</div>
          </a>
        </span>
       
        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <a href="#">
            <div class="menu_box"><a href="{%url 'logout'%}"><i class="icon_hover icon-logout"></i><br>Sair</a></div>
          </a>
        </span>
      </div>
      {% endblock %}
    </section>


{% endblock %}
